.login__cont .login__cont-inner {
  padding-top: 10vh;
  height: 100vh;
}

.login__cont .login__card {
  padding-top: 0 !important;
}

.login__cont .login__error {
  margin-bottom: 32px !important;
}

.sider-left {
  min-height: 100vh !important;
}

.menu__item {
  display: inline-block !important;
}

.login__cont .login__logo {
  height: 80px;
  width: 100%;
  background-size: 170px auto;
  margin-bottom: 30px;
}
